#main-content{
    display: grid;
    place-items: center;
    height: 90vh;
    user-select: none;
    -webkit-user-drag: none;
}
.form-title{
    font-size: 3rem;
    text-align: center;
    text-shadow: 0.3rem 0.3rem var(--accent-color);
}
.login-section{
    width: 100%;
    height: 100%;
}
.login-section div{
    margin: 2rem 0;
}
label{
    font-size: 1.8rem;
}
.form-input{
    width: 95%;
    height: 4rem;
    border-radius: .6rem;
    background-color: transparent;
    border: thin solid #ccc;
    outline: none;
    font-size: 1.8rem;
    padding: 0 1rem;
}
.form-input:focus{
    border: thin solid var(--accent-color);
}
.password_div{
    position: relative;
}
.fa-eye, .fa-eye-slash{
   font-size: 2rem;
   position: absolute;
    right: 1rem;
    bottom: 45%;
    transform: translateY(100%);
}
.fa-eye:hover, .fa-eye-slash:hover{
    cursor: pointer;
}
.form-btn{
    padding: 0 1rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border: none;
    outline: none;
    border-radius: .6rem;
    cursor: pointer;
}
.input-error{
    border: thin solid var(--alert-color);
}
.email-error::after{
    content: 'This email address is already taken';
    color: var(--alert-color);
    font-size: 1.5rem;
}
.username-error::after{
    content: 'This username is already taken';
    color: var(--alert-color);
    font-size: 1.5rem;
}
.password-error::after{
    content: 'Password cant be blank';
    color: var(--alert-color);
    font-size: 1.5rem;
}
.linktext{
    font-size: 1.3rem;
    margin-top: 2rem;
}