:root{
    --panel-color: #5A8DEE;
}
.navbar{
    top: 0;
    border-bottom: thin solid rgb(168, 168, 168);
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 92vw;
    padding: 1rem 5rem;
    z-index: 99;
}
.icon{
    width: 20rem;
}
.welcome-text{
    font-size: 1.8rem;
    font-weight: 400;
}
.sidebar{
    min-height: 90vh;
    width: 45vh;
    background-color: #fff;
}
.sidebar_content{
    position: fixed;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84vh;
}
.sideheading{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 2rem;
}
.sidelinks{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}
.sidelinks a,.close_btn{
    font-size: 1.7rem;
    background-color: var(--panel-color);
    padding: 1.5rem;
    text-decoration: none;
    color: black;
}
.main_content{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--panel-color);
    margin-top: 5rem;
    height: calc(100vh - 5rem);
}
.shrink-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
    
}
.orders_table{
    margin: 2rem;
    border-radius: 1rem;
    background-color: white;
}
.scrollabe-div{
    height: 65vh;
    overflow-y: auto;
}
.table_heading{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    padding: 2rem 0 0 2rem;
}
table{
    width: 100%;
    max-height: 100%;
}
th{
    text-transform: uppercase;
    background-color: #adadad;
    letter-spacing: .2rem;
}
th, td{
    padding: .8rem;
    text-align: center;
    font-size: 1.3rem;
    width: min-content;
}
.profile_pic{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 100%;
}
tbody tr:nth-child(even) {
    background-color: #ECECEC;
}
thead {
    position: sticky;
    top: 0;        
    z-index: 100;
}
.status, .table-btn{
    background-color: var(--secondary-color);
    color: white;
    font-weight: 600;
    padding: .7rem .5rem;
    text-align: center;
    border-radius: .5rem;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
    cursor: pointer;
    border: none;
}
.pending, .delete-btn{
    background-color: var(--alert-color);
}
.view-btn{background-color: var(--accent-color);}
.edit-btn{background-color: #FFB908;}
.add-btn{
    width: 8rem;
    margin: 0 2rem;
    background-color: green;
}
.searchbar{
    outline: none;
    border: .2rem solid #ADADAD;
    border-radius: .5rem;
    padding: .5rem 0rem .5rem 2.5rem;
    background-image: url(/img/search_icon.svg);
    background-repeat: no-repeat;
    background-position: .5rem 50%;
    background-size: 1.5rem;
    font-size: 1.5rem;
}
.searchbar:focus{
    border: .2rem solid var(--accent-color);
}
.delete_modal{
    margin: auto;
    padding: 3rem;
}
.delete_modal::backdrop{
    background-color: #00000088;
}
.flex-btns{
    display: flex;
    gap: 2rem;
}
.modal-head{
    font-size: 2.5rem;
}
.modal-text{
    font-size: 1.5rem;
    margin: 2.5rem 0;
}