*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    font-size: 62.5%;
    --primary-color: #ffffff;
    --secondary-color: #222222;
    --accent-color: #20C7D9;
    --alert-color: #b10001;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
.desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0rem -1rem 1rem 1rem;
}
.nav-contents{
    padding-left: 5rem;
    flex: 1;
    display: flex;
    align-items: center;
}
.fa-bars{
    font-size: 3rem;
    margin-right: 2rem;
    color: var(--secondary-color);
    display: none;
}
.icon-section{
    display: flex;
    align-items: center;
    margin: 0 3rem 0 0;
    text-decoration: none;
}
.logo{
    width: 12rem;
    height: 5rem;
}
.nav-links{
    flex: .5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.4rem;
    
    transition: all ease-in-out .2s;
    font-weight: 600;
}
.nav-links a:hover,
.user-contents .fa-cart-shopping:hover,
.user-contents .fa-heart:hover{
    color: var(--accent-color);
}
.fa-heart, .fa-cart-shopping{
    position: relative;
}
.cart-wrapper{
    position: relative;
}
.cart-count{
    position: absolute;
    content: '10';
    background-color: var(--accent-color);
    border-radius: 100%;
    font-size: 1.2rem;
    width: 90%;
    height: 80%;
    top: -1rem;
    right: -1rem;
    display: grid;
    place-items: center;
    color: var(--primary-color);
}
.user-contents{
    flex: .11;
    padding-right: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}
.fa-magnifying-glass, .fa-heart, .fa-cart-shopping{
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--secondary-color);
    transition: all ease-in-out .2s;
}
.user-profile-pic{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    background-color: navy;
    display: grid;
    place-items: center;
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
    position: relative;
    user-select: none;
}
.dropdown-content {
    user-select: none;
    display: none;
    top: 0;
    translate: 25% 50%;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16rem;
    box-shadow: 0px .8rem 1.6rem 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.show { display: block; }
.dropdown-content a {
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
}
.dropdown-content #modal-open-btn{
    background-color: var(--alert-color);
    color: #fff;
    cursor: pointer;
}
.dropdown-content a:hover {background-color: #ddd;}
.mbl-nav{
    position: fixed;
    top: 0;
    width: 60%;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.8) 0 100em 0 100em;
    padding: 5rem;
    left: -500rem;
    transition: all .5s ease-in-out;
}
.mbl-nav-active{
    left: 0;
}
.fa-xmark{
    position: absolute;
    right: -5rem;
    font-size: 5rem;
    color: white;
    cursor: pointer;
}
.mbl-nav-search-section{
    display: flex;
    align-items: center;
}
.mbl-nav-search-input{
    width: 100%;
    height: 7rem;
    outline: none;
    border: thin solid #2e3237;
    padding-left: 2rem;
    font-size: 3rem;
    color: white;
    background-color: var(--secondary-color);
    border-radius: .8rem 0 0 .8rem;
}
.mbl-nav-search-input:focus{
    border: .2rem solid var(--accent-color);
}
.mbl-nav-search-icon{
    width: 8rem;
    height: 7rem;
    background-color: var(--accent-color);
    outline: none;
    border: none;
    border-radius: 0 .8rem .8rem 0;
}
.mbl-nav-search-icon .fa-magnifying-glass{
    color: white;
}
.mbl-nav-links{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.mbl-nav-links a{
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    border-bottom: thin solid #2e3237;
}
.currency-selection-title{
    font-size: 3rem;
    color: var(--primary-color);
}
.currency-btns-list{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.currency-btn{
    width: 12rem;
    height: 6rem;
    text-transform: uppercase;
    color: white;
    background-color: #303030;
    outline: none;
    border: none;
    border-radius: .5rem;
}
.currency-country-img{
    width: 2.5rem;
}
.disable-click{
    pointer-events: none;
}
.swiper{
    height: calc(80vh - 8rem);
    width: 100vw;
    margin-top: 8rem;
}
.swiper .swiper-slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
}
.swiper-button-prev,
.swiper-button-next{
    right: 2rem;
    color: var(--accent-color);
}
.slider1-text{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.slider2-text{
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translate(-50%, -50%);
    
}
.slider-title{
    font-size: 6rem;
    font-weight: 900;
    color: var(--secondary-color);
}
.diff-color-title{
    font-size: 4rem;
    color: var(--accent-color);
    text-transform: uppercase;
}
.slider2-text .diff-color-title{
    color: var(--primary-color);
}
.slider-des{
    margin: 4rem 0;
    font-size: 1.8rem;
}
.slider-btn{
    width: 13.5rem;
    height: 4.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .2rem;
    border-radius: .5rem;
    cursor: pointer;
}
.main-content{
    padding: 0 5rem;
    min-height: 95vh;
    background-color: var(--primary-color);
    overflow: hidden;
}
.categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
}
.category-tile{
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    box-shadow: 0rem 0rem .8rem .1rem;
}
.men-tile{    
    background-image: url(/img/men.jpg);
}
.men-tile .category-title{
    position: absolute;
    font-size: 4rem;
    top: 25%;
    left: 5%;
    transform: translateY(-50%);
}
.men-tile .category-link{
    position: absolute;
    font-size: 1.5rem;
    bottom: 20%;
    left: 5%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.sale-tile{    
    background-image: linear-gradient(to left, rgb(225, 228, 233), rgba(255, 228, 233, 0.05)), url(/img/sale.jpg);
    color: var(--secondary-color);
    user-select: none;
    cursor: not-allowed;
}
.sale-tile .category-title,
.women-tile .category-title{
    position: absolute;
    font-size: 4rem;
    top: 25%;
    right: 5%;
    transform: translateY(-50%);
}
.sale-tile .category-link,
.women-tile .category-link{
    position: absolute;
    font-size: 1.5rem;
    bottom: 20%;
    right: 5%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.women-tile{    
    background-image: url(/img/women.jpg);
    background-position: -7rem 0;
    background-color: #e1e4e9;
}
.product-grid-heading{
    margin-top: 4rem;
    text-align: center;
    font-size: 5rem;
    color: var(--secondary-color);
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 5rem;
}
.product-grid a{
    text-decoration: none;
    height: 30rem;
}
.product-tile{
    width: 22rem;
    height: 30rem;
    border-radius: 1rem;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 
                0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-tile:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25), 
                0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}
.product-img-container{
    height: 60%;
}
.product-img-container img{
    object-fit: contain;
    background-color: #fff;
}
.review-stars{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(223, 223, 32);
}
.product-tile-category{
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(168, 168, 168);
}
.product-tile-img{
   width: 100%;
   height: 80%;
   object-fit: cover;
   cursor: pointer;
}
.product-tile-info{
    text-align: center;
    color: var(--secondary-color);
}
.product-tile-title{
    font-weight: 200;
    font-size: 1.8rem;
    cursor: pointer;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20rem;
    transition: all ease-in-out 250ms;
}
.product-tile-title:hover{
    color: var(--accent-color);
}
.product-cost{
    font-size: 1.8rem;
    font-weight: 900;
}
.banner-section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem 0;
}
.banner{
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    cursor: pointer;
}
.banner-content{
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 5%;
    color: #222222;
}
.banner-title{
    font-size: 2.8rem;
}
.banner-semi-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.banner-product-cost{
    font-size: 1.5rem;
    font-weight: 600;
}
.footer-content{
    background-color: #1F2937;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 5rem;
    color: var(--primary-color);
    justify-items: center;
}
.footer-main-info{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-content-color{
    color: #888;
    font-size: 1.4rem;
}
.footer-nav-links{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-nav-links a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #888;
    width: fit-content;
}
.footer-nav-links a:hover{
    color: var(--accent-color);
}
.footer-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-text-input{
    padding: .8rem 2rem;
    width: 20rem;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: .5rem 0 0 .5rem;
    font-size: 1.4rem;
    background-color: #ffffff1A;
    color: white;
}
.footer-form-btn{
    border: none;
    outline: none;
    height: 4.5rem;
    width: 7rem;
    border-radius: 0 .5rem .5rem 0;
    color: var(--primary-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-size: 1.8rem;
}
.copyright-section{
    padding: 2rem 5rem;
    background-color: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.social-media-handles{
    display: flex;
    gap: 2rem;
}
.social-media-btns{
    border-radius: 100%;
    border: .1rem solid var(--accent-color);
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.fa-brands{
    font-size: 2rem;
    color: var(--primary-color);
}
.copyright-text{
    font-size: 1.5rem;
}
.paying-methods{
    display: flex;
    gap: 2rem;
}
.paying-methods img{
    width: 8rem;
    object-fit: contain;
}
.input-error{
    border: .2rem solid var(--alert-color);
}
.input-error-msg{
    display: block;
    color: var(--alert-color);
    font-size: 1.5rem;
}
dialog{
    margin: auto;
    padding: 2rem;
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1024px) {
    :root{
        font-size: 50%;
    }
    .footer-text-input{
        width: 15rem;
    }
}
@media screen and (max-width: 925px) {
    :root{
        font-size: 45%;
    }
}
@media screen and (max-width: 830px) {
    :root{
        font-size: 40%;
    }
}
@media screen and (max-width: 768px) {
    .fa-bars{
        display: block;
    }
    .swiper{
        height: 60vh;
    }
    main{
        padding: 2rem;
    }
    .nav-links{
        display: none;
    }
    .categories{
        grid-template-columns: repeat(2, 1fr);
    }
    .user-contents{
        gap: 3rem;
    }
    .fa-cart-shopping, .fa-heart, .fa-magnifying-glass{
        font-size: 3rem;
    }
    .slider2-text{
        width: 50rem;
        right: -25%;
    }
    .slider1-text{
        width: 50rem;
        left: 35%;
    }
    .product-tile-title{
        font-size: 2.5rem;
    }
    .product-cost{
        font-size: 3rem;
    }
}
@media screen and (max-width: 650px) {
    .footer-content{
        grid-template-columns: repeat(2, 1fr);
        place-items: initial;
        grid-row-gap: 2rem;
        padding: 2rem;
    }
    .slider1-text{
        left: 40%;
    }
}
@media screen and (max-width: 500px) {
    :root{
        --swiper-navigation-size: 30px;
    }
    .fa-heart,
    .user-contents .fa-magnifying-glass{
        display: none;
    }
    .desktop-nav{
        height: 9rem;
    }
    .fa-cart-shopping, .fa-bars{
        font-size: 3.5rem;
    }
    .swiper{
        height: 50vh;
        margin-top: 9rem;
    }
    .categories, .banner-section{
        grid-template-columns: 1fr;
    }
    .footer-text-input{
        width: 10rem;
    }
    .copyright-section{
        flex-direction: column;
        gap: 5rem;
    }
    .social-media-btns{
        width: 6.5rem;
        height: 6.5rem;
    }
    .fa-brands{
        font-size: 3rem;
    }
    .slider1-text{
        left: 45%;
    }
    .slider2-text{
        right: -45%;
    }
    .footer-content{
        font-size: 1.5rem;
    }
    .footer-main-info,
    .footer-content-color,
    .footer-nav-links a{
        font-size: 2rem;
    }
    .footer-text-input{
        width: 15rem;
        height: 5rem;
        font-size: 1.8rem;
    }
    .footer-form-btn{
        height: 6rem;
    }
    .fa-paper-plane{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 350px) {
    :root{
        font-size: 35%;
    }
    .slider1-text{
        left: 55%;
    }
}


@media screen and (min-width: 1920px) {
    :root{
        font-size: 80%;
    }
}